{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load materializecss %}

{% block title %}{% trans "Password Reset" context "Password reset done page title" %}{% endblock %}

{% block form %}
  <div class="login__forgot-password">
    <h2>{% trans "Gracias!" context "Password reset done title" %}</h2>
    {% if user.is_authenticated %}
      {% include "account/partials/already_logged_in.html" %}
    {% endif %}
    <p>{% blocktrans trimmed context "Password reset done text" %}
        Te enviamos un e-mail.
        Por favor contactanos si no lo recibes en los siguientes 10 minutos.
    {% endblocktrans %}</p>
    <div class="row login__btn-group">

    </div>
  </div>
{% endblock %}
