{% extends "base.html" %}

{% load prices_i18n %}
{% load i18n %}

{% load materializecss %}
{% load staticfiles %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block content %}
  <div class="col l12 col s12">
    <div class="row">
      <div class="col m2 login__register">
        &nbsp;
      </div>
      <div class="col m6 login__register">
        <h4>{% trans "Register for Free" context "Signup form title" %}</h4>
      </div>
      <div class="col m4 login__register">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col m2 login__form">
        &nbsp;
      </div>
      <div class="col m8 login__form">
        <form method="post" action="{% url 'account_signup' %}">
          <fieldset>
            {% csrf_token %}

            {{ user_form }}

            <div class="row">
              <div class="col m4">
                &nbsp;
              </div>
              <div class="col m5">
                &nbsp;
              </div>
              <div class="col m3">
                <br/>
                <button type="submit" class="btn primary narrow">
                  {% trans "Sign Up" context "Signup form primary action" %}
                </button>
              </div>
            </div>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}"
                     value="{{ redirect_field_value }}"/>
            {% endif %}
          </fieldset>
        </form>
      </div>
      <div class="col m2 login__form">
        &nbsp;
      </div>
    </div>

  </div>
{% endblock %}
