{% load materializecss %}
{% load i18n %}
{% load staticfiles %}

<form method="post" action="{% url 'account_login' %}" novalidate>
  {% csrf_token %}
  <fieldset>
    {{ form }}
    {% if redirect_field_value %}
      <input type="hidden" name="next" name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="row">
      <div class="col m12">
        <div class="col m12">
          <div class="col m6">
            <a href="{% url 'account_signup' %}" class="col m10 btn secondary narrow">
              {% trans "Register for Free!" context "Login form register action" %}
            </a>
          </div>
          <div class="col m6">
            <div class="col m5">
              &nbsp;
            </div>
            <button class="col m7 btn primary narrow">
              {% trans "Login" context "Login form primary action" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
