<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>{% block title %}Namox Panel - Your Back Support{% endblock %}</title>
      {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
      {% endblock meta %}

      {% block stylesheet %}{% endblock stylesheet %}
  </head>
  <body class="grey lighten-4">
    {% block header %}
      <header>
      </header>
    {% endblock %}
    <main>
      {% block breadcrumb %}
      {% endblock breadcrumb %}

      {% block content %}
      {% endblock content %}
    </main>
    {% block footer %}
      <footer>
      </footer>
    {% endblock %}
    {% block footer_scripts %}
      <script type="text/javascript" ></script>
    {% endblock footer_scripts%}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </body>
</html>
