<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>{% block title %}Namox Panel - Your Back Support{% endblock %}</title>
      {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
      {% endblock meta %}
      {% render_bundle 'vendor' 'css' %}
      {% render_bundle 'main' 'css' %}

      {% block stylesheet %}{% endblock stylesheet %}
  </head>
  <body class="grey lighten-4">
    {% block header %}
      <header>
        <nav class="nav-extended">
          <div class="nav-wrapper">
            <div class="col s12">
              <ul class="row"> <!-- row -->
                <li class="left col s2 l2 hide-on-small-only">
                  <a href="{% url "home" %}" class="brand-logo"><img src="{% static "images/.png" %}" height="70px" width="120px" alt="Namox Panel" /></a>
                </li>
                <li class="col hide-on-med-and-up">
                  <a href="{% url "home" %}" class="brand-logo nav-logo"><img src="{% static "images/.png" %}" height="100px" width="170px" /></a>
                </li>
                <li>
                  <a href="#" data-activates="mobile-demo" class="button-collapse nav-img"><svg data-src="{% static "dashboard/images/.svg"%}" width="24" height="24" /></a>
                </li>
                <li class="col s7 l7">
                  &nbsp;
                </li>
                <li class="col s3 l3">
                  {% if user.is_authenticated %}
                    <p><b>{{ user }}</b></p>
                  {% else %}
                    <ul class="hide-on-med-and-down">
                      <li>
                        <a href="{% url "account_login" %}" class="btn waves-effect fat light-blue-text text-lighten-1 grey lighten-5 ">Login</a>
                      </li>
                    </ul>
                  {% endif %}

                </li>
                <ul class="side-nav" id="mobile-demo">
                  <li><a href="{% url "account_login" %}">Login</a></li>
                </ul>
                <br/>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {% endblock %}
    <main>
      {% block breadcrumb %}
      {% endblock breadcrumb %}

      {% block content %}
      {% endblock content %}
    </main>
    {% block footer %}
      <footer>
      </footer>
    {% endblock %}
    {% block footer_scripts %}
      <script type="text/javascript"></script>
      {% render_bundle 'vendor' 'js' %}
      {% render_bundle 'main' 'js' %}
    {% endblock footer_scripts%}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </body>
</html>
