{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Hi! Authenticated</p>
    {{ user }}
  {% else %}
    <p>Hi! Not Authenticated</p>
  {% endif %}
  <a href="{% url "create-app" %}" class="btn waves-effect fat light-blue-text text-lighten-1 grey lighten-5">Create an App</a>
{% endblock %}
