/*** GLOBAL ***/
$roboto-font-path: "~materialize-css/fonts/roboto/";

/*** COLORS ***/
$primary-color: #0d9ddb;
$primary-color-light: #37bcec;
$primary-color-dark: #2aafe8;

$secondary-color: #37bcec;
$link-color: #ffffff;
